@font-face {
	font-family: Kaushan;
	src: url(../font/KaushanScript-Regular.ttf);
}

@font-face {
	font-family: SourceSansPro;
	src: url(../font/SourceSansPro-Regular.ttf);
}

@font-face
{
   font-family: "Sosa";
   src: url("../font/sosa-regular-webfont.eot");
   src: url('../font/sosa-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url("../font/sosa-regular-webfont.woff") format("woff"),
        url("../font/sosa-regular-webfont.ttf") format("truetype"),
        url("../font/sosa-regular-webfont.svg") format("svg");
}

body{
	margin: 0;
	background-color: #FAFAFA;
	font-family: SourceSansPro;
}

header{
	background-color: #212121;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	box-shadow: 1px 2px 2px black;
}

h1{
	font-family: Kaushan;
	letter-spacing: 1px;
	margin: 0;
	color: white;
	margin-right: 1rem;
	padding-left: 1rem;
	padding-top: 9px;
}

header ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
}

header ul li{
	color: white;
	padding: 20px;
	text-decoration: none;
}

header ul li:hover{
	background-color: #000000;
	cursor: pointer;
}

#formulario{
	width: 500px;
	border: 1px solid #E0E0E0;
	margin: 20px auto;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-color: white;
}

div > label{
	display: inline-block;
	margin-left: 25px;
	width: 100px;
	padding: 5px;
}

#formulario div{
	margin-top: 20px;
}

#registrarse, #logearse{
	margin: 0 20px;
	margin-bottom: 20px;
	padding: 4px 10px;
	padding-bottom: 6px;
	line-height: 20px;
	background-color: #212121;
	border-radius: 5px;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
	box-shadow: -2px 2px 2px rgba(0,0,0,0.7);
	outline: none;
	border: none;
	text-decoration: none;
	color: white;
}

#cajaRegistro, #cajaLogin{
	text-align: center;
}

i{
	color: red;
}
#dialog-message{
	display: none;
}

.ui-dialog-titlebar button{
	display: none;
}

footer{
	padding: 1px;
	padding-left: 40px;
	background-color: #3F51B5;
	box-shadow: 1px 0 2px black;


	position: fixed;
	bottom: 0;
	width: 100%;
}

footer img{
	height: 60px;
	padding: 10px;
}

#errorLogin{
	display: none;
	text-align: center;
}
